body {
    font-family: "Crimson Text", "Time New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

main {
    float: left;
    width: 86%;
    padding-bottom: 80px;
}

main a {
    color: #851944;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
    font-size: 60px;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid black;
    text-transform: uppercase;
}

.subtitulo-texto{
    font-size: 30px;
    clear: both;
}

.conteudo-principal {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

p {
    text-align: justify;
    margin: 20px 0;
}

blockquote, aside, footer {
    padding: 20px;
}

.citacoes {
    background-color: #D9E5E3;
    margin: 20px 40px;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
}

.navegacao-site, .minha-foto {
    float: right;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    box-sizing: border-box;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    width: 14%;
    position: relative;
    top: 310px;
}

.navegacao-site a {
    color: #F2FFFC;
    text-transform: lowercase;
}

.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    display: block;
}

.github {
    background-image: url(../img/github.png);
}
.twitter {
    background-image: url(../img/twitter.png);
}

.likedin {
    background-image: url(../img/linkedin.png);
}

.rodape-pagina {
    background: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.fiat {
    float: right;
}

.petrobras {
    float: left;
}

cite {
    font-style: italic;
    float: right;
}